.dropdown-container {
  box-shadow: 0px 4px 10px -6px var(--grey);
  max-height: 300px;
  width: 300px;
  overflow-y: auto;
  position: absolute;
  top: 114px;
  background-color: var(--white);
  z-index: 1;

  &::-webkit-scrollbar {
    display: none;
  }

  .member {
    display: flex;
    align-items: center;
    // width: 300px;
    height: auto;
    cursor: pointer;

    &:hover {
      background-color: var(--light-green);
    }

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 8px 10px;
    }

    .member-name {
      color: var(--green);
      font-size: 16px;
    }
  }

  .not-found {
    width: 300px;
    height: auto;
    padding: 18px 10px;
    text-align: center;
    p {
      font-size: 18px;
      color: var(--green);
    }
    span {
      font-size: 12.5px;
    }
  }
}
