.member-item-container {
  display: flex;
  align-items: center;
  font-family: sans-serif;

  .imgs-container {
    position: relative;
    display: inline-block;

    .close-icon {
      position: absolute;
      top: 0;
      left: 0;
      margin: 16px 10px;
      width: 40px;
      height: 40px;
      visibility: hidden;
      border-radius: 50%;
      padding: 6px;
      &:hover {
        + .tooltip {
          visibility: visible;
          &::after {
            content: '';
            margin-left: -5px;
            border-width: 5px;
            position: absolute;
            top: 100%;
            left: 50%;
            border-style: solid;
            border-color: var(--white) transparent transparent transparent;
          }
        }
      }
    }

    .member-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin: 16px 10px;
      position: relative;
    }

    .tooltip {
      visibility: hidden;
      font-size: 14px;
      background-color: white;
      position: absolute;
      padding: 4px;
      top: -18px;
      left: -14px;
      width: max-content;
      box-shadow: 0px 4px 10px -6px var(--grey);
    }
  }

  .member-infos {
    display: flex;
    flex-direction: column;

    .user-external::after {
      content: '*';
      color: orange;
      font-weight: bold;
      font-size: 18px;
    }
    .user-role,
    .user-external {
      font-weight: lighter;
    }
    .username {
      font-weight: bold;
    }
  }

  &:hover {
    background-color: var(--light-green);
    .close-icon {
      visibility: visible;
      background-color: var(--white);
    }
    .member-photo {
      visibility: hidden;
    }
  }
}
