.title {
  color: var(--green);
  text-align: center;
  padding: 20px;
}

.main-container {
  border: 0.5px solid lightgray;
  border-block-start: 4px solid green;
  max-width: 633px;
  margin: 0 auto;
  position: relative;

  .team-title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10px;

    .subtitles {
      font-size: 16px;
      text-transform: uppercase;
      color: var(--grey);
      font-weight: bold;
    }

    img {
      width: 20px;
      height: 20px;
    }
    .team-page-icon {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      padding: 8px 5px;
      span {
        font-size: 10px;
        margin-right: 4px;
        @media (max-width: 768px) {
          display: none;
        }
      }
      &:hover {
        background-color: var(--light-green);
      }
    }
  }
}

.members-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px 10px;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
