:root {
  --white: #fff;
  --green: #007672; //16px
  --grey: #737373;
  --light-green: #e2f4ea; // 10px
  --orange: #ff671f; // 8px
  --black: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  color: var(--black);
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}
