.buttons {
  width: 100%;
  padding-top: 4px;

  .show-all-btn,
  .show-less-btn {
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--light-green);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: lighter;
  }
}
