.team-list-container {
  .add-member-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: var(--light-green);

      .icon-plus {
        background-color: var(--white);
      }
    }

    .icon-plus {
      width: 40px;
      height: 40px;
      background-color: var(--light-green);
      border-radius: 50%;
      margin: 16px 10px;
      position: relative;

      img {
        width: 20px;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }

    .add-title {
      font-weight: bold;
      color: var(--green);
      font-size: 16px;
      width: 48%;
    }
  }
}

.input-container {
  width: 300px;
  padding: 16px 10px;
  background-color: var(--white);
  box-shadow: 0px 4px 10px -6px var(--grey);
  position: relative;

  .insert-user {
    font-size: 16px;
    width: 280px;
    height: 26px;
    border: none;
    border-bottom: 2px solid var(--green);

    &:focus-visible {
      outline: none;
    }
  }

  .close-icon {
    width: 25px;
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
  }
}
